<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}"
         alt="{{recipe.name}}"
         class="img-responsive"
    style="max-width: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
         appDropdown>
      <button class="btn btn-primary dropdown-toggle" id="btnGroupDrop" type="button"
              data-toggle="dropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop">
        <li><a (click)="onAddToShoppingList()" class="pointer">To Shopping List</a></li>
        <li><a class="pointer">Edit Recipe</a></li>
        <li><a class="pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="lis-group">
      <li class="lis-group-item"
          *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
