<div id="pdfTable" #pdfTable>
  <h1>FICHA DE INSPECCION PRINCIPAL GENERAL</h1>
  <div class="borde">
    <b>Codigo i3met:</b><p style="display: inline-block">asdasd</p>
  </div>
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
    <tr>
      <td>Ernst Handel</td>
      <td>Roland Mendel</td>
      <td>Austria</td>
    </tr>
    <tr>
      <td>Island Trading</td>
      <td>Helen Bennett</td>
      <td>UK</td>
    </tr>
    <tr>
      <td>Laughing Bacchus Winecellars</td>
      <td>Yoshi Tannamuri</td>
      <td>Canada</td>
    </tr>
    <tr>
      <td>Magazzini Alimentari Riuniti</td>
      <td>Giovanni Rovelli</td>
      <td>Italy</td>
    </tr>
  </table>
</div>

<div> <button  (click)="downloadAsPDF('descargar')" class="btn btn-success">Exportar PDF</button></div>
<div> <button  (click)="downloadAsPDF('generar')" class="btn btn-success">Generar PDF</button></div>
<div>
  <pdf-viewer [src]="pdfSrc"
              [original-size]="false"
              style="display: block; overflow: auto;width: 50%;height: 70vh;"></pdf-viewer>
</div>
